<html>
<head>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption' rel='stylesheet' type='text/css'>
<script src ='http://code.jquery.com/jquery-2.1.1.min.js'></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.5/js/bootstrap-modal.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.5/js/bootstrap-modalmanager.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.5/css/bootstrap-modal-bs3patch.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.5/css/bootstrap-modal.css" rel="stylesheet">
<script src="/js/rps.js"></script>
</head>
<body>
<div class="container-fluid" id="title">


</div>
<div class="container-fluid" id="main">

<div class="title" align="center" style="font-family: 'PT Sans Caption', sans-serif;"><h1>Rock Paper Scissors - Green Monkey Style</h1></div>

</div>
	<div class="modal-dialog modal fade" id="modalDialog" style="display:none;"> 
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4></div>
			<div class="modal-body">
		</div>
		<div class="modal-footer"></div>
	</div>
</div>

</body>
<script>
$(document).ready(init)
</script>
</html>